.nav-bar{
    background-color: burlywood;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
}

nav a{
    font-family: 'Baloo 2', cursive;
    text-decoration: none;
    margin-right: 50px;
    font-size: 30px;
    color: rgb(32, 6, 82);
}